$bodyBGColor: #ededed;
$headerColor: #032A3B;
$menuBGColor: #032A3B;
$menuActiveItemBG: #303030;
$subHeaderColor: #e0e0e0;
$white: #fff;
$black: #000;
$red: #dc3545;
$green: #389818;
$yellow: #FFFF00;
$redHover: #B5323F;
$greenHover: #2B6F15;
$globalBlue: #1792e5;
$btnPrimary: #217eae;
$btnPrimaryHover: #014163;
$btnPrimaryActive: #1271b1;
$btnSecondary: #6C757D;
$btnSecondaryHover: #9e9e9e;
// $btnSecondaryActive: #dee2e6;
$btnTertiary: transparent;
$btnTertiaryHover: #014163;
$btnTertiaryActive: #1271b1;
$linkColor: #217eae;
$checkboxRadioColor: $globalBlue;
$checkboxRadioLabelColor: #212529;
$textColor: #212529;
$arrowColor: #212529;
$labelColor: #9e9e9e;
$inputBorder: #c0c0c0;
$borderWidth: 1px;
$borderThikWidth: 2px;
$borderStyle: solid;
$defalutFontSize: 14px;
$footerTextColor: #6c757d;
$fontFamily: 'Roboto, sans-serif';
$lightGray: #f7f7f7;
$gridHeaderBGColor: #ededed;
$gridHeaderTextColor: #212529;
$gridTextColor: #212529;
$gridBorderColor: #c0c0c0;
$accordionHeadText: #606060;
$borderColorAN: #C0C0C0;
$textColorAN: #303030;
$inputDropdownTextColorAN: #303030;
$blueLinkBtnAN: $globalBlue;
$blueBorderAN: #0e96d4 ;
$disableControlBGAN: #ebebeb;
$disableControlBorderAN: #c0c0c0;
$disableControlTextAN: #707070;
$gridBorderColorAN: #d5d5d5;
$evenRowBGColorAN: #f7f7f7;
$pBtnHoverAN: #2489C2;
$pBtnActiveAN: #177bb9;
$labelColorAN: #707070;
$tabBGAN:#f0f0f0;
$errorRedColor: #EE3124;
$borderRed: #FB605F;
$successGreenColor: #7EB338;
$notificationBlue: $globalBlue;
$blueShadowColor: rgba($globalBlue,0.3);
$boxHeadingBGColor: #e8e8e8;
$clockIconColor: #909090;
$dividingLine: #E8E8E8;
$searchIconColor:#2196F3;
$searchIconOverColor:#0b7dda;
$backButtonHoverColor:#c9e0fd;


$redBorder: #fb5f5f;
$redStar: #e32;
$greenBorder: #68b731;
$btnDealerBranding: #dee2e6;
$btnSecondaryHoverr: #014163;
$carouselBgColor: #E8E8E8;
$borderColorUpload:#CCCCCC;
$modalHeadingColor:#242424;
$armedColor:#e64c4c;
$companyNamePreview:#999;
$cardOuterBackground:#F0F0F0;

$background-blue: #0094D9 !default;
$content-back-blue: #0094D9 !default;
$header-back-color: #F8F8F8 !default;
$main-content-bg: #F8F8F8 !default;
$main-content-fg: #ffff !default;
$white: #ffff !default;
$gray: #D1D1D1 !default;
$blue: #0094D9 !default;
$black: #45434E !default;
$button-primary-blue: #2E3191 !default;
$select-bg: #F5EFFC !default;
$select-dropdown-color: #4F45B6 !default;
$red: #d64113 !default;
$darkgray: #6e6d77 !default;
$lightgray: #e0e0e0 !default;